.u-center-text {
  text-align: center;
}

.u-margin-bottom-8 {
  margin-bottom: 8rem;
}

.u-margin-bottom-1 {
  margin-bottom: 1rem;
}

.u-margin-top-1 {
  margin-top: 1rem;
}

.display-inline {
  display: inline;
}

.u-margin-right {
  margin-right: 2rem;
}

.u-skewY-7 {
  transform: skewY(-7deg);
}

.u-skewY-14 {
  transform: skewY(-14deg);
}
