//Font Size
$default-font-size: 1.6rem;

//Colors

$color-primary: #28a1d1;
$color-primary-light: #22e0f5;
$color-primary-dark: #009cff;

$color-white: #fff;
$color-black: #000;
$color-grey-dark: #777;
$color-grey-light-1: #f7f7f7;

$color-red-light:#fa4646;
$color-red-dark: #ad1515;

//Grid
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;
